FASTAPI_VECTOR_STORE_POSTGRESQL_SETTINGS__USER=''
FASTAPI_VECTOR_STORE_POSTGRESQL_SETTINGS__PASSWORD=''
FASTAPI_VECTOR_STORE_POSTGRESQL_SETTINGS__SERVER=''
FASTAPI_VECTOR_STORE_POSTGRESQL_SETTINGS__DATABASE=''

FASTAPI_VECTOR_STORE_REDIS_SETTINGS__USER=''
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__PASSWORD=''
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__SERVER=''
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__DATABASE=0

FASTAPI_VECTOR_STORE_REDIS_SETTINGS__PROVIDER='OpenAI'
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__MODEL='text-embedding-small'
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__API_KEY=''
FASTAPI_VECTOR_STORE_REDIS_SETTINGS__DIMENSION=512

